<!DOCTYPE html>
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="/static/js/script.js" defer></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
    <h3>Your shopping cart </h3>
</div>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Back to Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Logout</button>
        </div>
    </header>
</div>


    <div class="card" th:unless="${category}">
        <h2>Summary</h2>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div id="counter_div">
                        <input type="text" size="25" value="1" id="count">
                        <input type="button" value="-" id="minus" onclick="minusQuantity()">
                        <input type="button" value="+" id="plus" onclick="plusQuantity">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="summary">
    <h3>Order summary</h3>
    <h2 th:text="'Total price: ' + ${totalPrice} + ' USD'">Total price</h2>
</div>


<div class="counter">

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>