<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="/static/js/script.js" defer></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <!--<li><a href="/phone" class="nav-link px-2 link-dark">Features</a></li>-->
            <!--<li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>-->
            <!--<li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>-->
            <li><a href="/cart" class="nav-link px-2 link-dark" th:text="'Shopping order: ' + ${cartCounter} + ' item(s)'">Shopping order: item(s)</a></li>
        </ul>



        <div class="col-md-5 text-end">

            <div th:if="${session.name != null}" th:utext="${'Logged in as <strong>' + session.name + '</strong>,'}">Logged in</div>
            <div th:if="${session.name != null}"><a href="/logout">&nbsp;Logout</a></div>
            <div th:unless="${session.name != null}">
                <form class="d-flex" action="/login" method="post">
                    <input class="form-control me-2" name="name" type="text" placeholder="Username" aria-label="Username" required minlength="3" title="Must be 3 characters long" >
                    <input class="form-control me-2" name="password" type="password" placeholder="Password" aria-label="Password" required minlength="3" title="Must be 3 characters long" >
                    <button class="btn btn-outline-primary me" type="submit">Login</button>
                    <span class="input-group-btn" style="width:50px;"></span>
                    <button type="button" class="btn btn-outline-primary me" onClick="registrationButton()">Registration</button>
                </form>
            </div>
        </div>
    </header>
</div>


<div class="container">
    <div class="card">
        <select name="category" class="custom-select mr-sm-2" id="inlineFormCustomSelect category" onchange="changeCategory()">
            <option selected>Select category!</option>
            <option value="1">Tablet</option>
            <option value="2">Phone</option>
        </select>
    </div>

    <div class="card">
        <select name="supplier" class="custom-select mr-sm-2" id="inlineFormCustomSelect supplier" onchange="changeSupplier()">
            <option selected>Select supplier!</option>
            <option value="1">Amazon</option>
            <option value="2">Lenovo</option>
        </select>
    </div>

    <div class="card" th:if="${category}">
        <strong th:text="${category.name}">Category Title</strong>
    </div>

    <div class="card" th:unless="${category}">
        <strong>Products</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" th:attr="href='/add-to-cart?add-cart=' + ${prod.id}">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>
<script src="/static/js/payment.js" defer></script>
</body>
</html>