.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.card {
    margin-bottom: 15px;
    transition: transform .2s;
}

.card:hover
{
    transform: scale(1.05);
}

.fa {
    scale: 1.5;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}

.payment-container {
    opacity: 0.8;
    min-height: 78vh;
    height: auto;
    width: 80%;
    margin: auto;
}

/*.shopping-cart {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    margin: 20px;*/
/*    padding: 40px;*/
/*    line-height: 250%;*/
/*}*/

.payment-info:hover {
    opacity: 1;
}

table {
    text-align: center;
    padding: 20px;
    margin: 10px;
}

#counter_div {
    margin-top: 200%;

}